bcrypt==4.0.1
cryptography
fastapi
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
python-multipart
SQLAlchemy
uvicorn[standard]
passlib[bcrypt]
pytest
httpx
pytest-asyncio
